/* Estilos genéricos utilizados em toda a aplicação */

.menu-bar, .menu-bar:hover, .menu-bar:focused, .menu-bar:showing{
    -fx-background-color: #557ed9;
}

.label{
    -fx-background-color: #557ed9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.item{
    -fx-background-color: #557ed9;
}

.anchor-pane{
    -fx-background-color: white;
}

.home{
    -fx-background-image: url("../imagens/logo2.png");
}

.table-view .column-header * {
    -fx-background-color: #638ce6;
    -fx-border-style: none;
}

.button{
    -fx-background-color: #638ce6;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.dialog-text{
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}