/*Estilos utilizados nas informações da interface da aplicação*/

.label{
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.info-title{
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.infor-text{
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.info-property{
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.title-team{
    -fx-text-fill: #557ed9;
    -fx-font-size: 32px;
    font-weight: 500;
}

.name-team{
    -fx-text-fill: #557ed9;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.anchor-pane-teste{
    -fx-background-color: white;
}